body {
    background: linear-gradient(to bottom, #0e1642, #0e0130);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 80px;
}

.name {
    color: rgb(207, 207, 207);
    font-size: 70px;
}

.experience {
    color: whitesmoke;
    margin-top: -15px;
}

.about-me{
    position: absolute;
    top: 10px;
    right: 100px;
    color: whitesmoke;
}

.button {
    background-color: #095878;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.underbutton {
    margin-top: 20px;
}

.aboutme {
    margin-top: 50%;
}

h1 {
    color: rgb(209, 209, 209);
    font-size: 50px;
}

h2 {
    color: whitesmoke;
    margin-top: -10px;
}

.button {
    background-color: #095878;
    border: none;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.text-container {
    text-align: center;
    width: 70%;
    margin-bottom: 100px;
    margin-top: 0;
    padding-left: 280px;

    
}

.text-containerAboutMe {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 0;

}


.text-container2 {
    text-align: center;
    width: 100%;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 100px;
    margin-top: 0;
}

p {
    color: whitesmoke;
    display: inline-block;
    text-align: justify;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
}

.list {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.expertise {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

.AboutMeHeader {
    margin-top: 0;
    text-align: center;

}

.aboutMeSummary {
    width: 60%;
    text-align: center;
}


.CompletedHeader {
    margin-top: 0;
    text-align: left;
    padding-left: 200px;
}

.AlignLeft {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    width: 50%;
    float: left;
}

.AlignLeftCompleted {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    padding-left: 200px;
    width: 50%;

}


.aboutMeFloatLeft {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    width: 40%;
    float: left;
    padding-left: 300px;
}

.AlignLeftAboutMe {
    text-align: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    width: 70%;
    
}



h2 , p {
    margin: 0;
    padding: 0;
}   

h2 , h3 , a {
    margin: 0;
    padding: 0;
    color: rgb(121, 121, 121);
    font-weight: 900;
}


.ContactInfo {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    color: #333;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
    background-color: black;
    overflow: hidden;
}

footer , p {
    font-size: 14px;
    padding-bottom: 30px;
}


.OtherPageFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #333;
    padding: 10px;
    padding-bottom: 5px;
    text-align: center;
    background-color: black;
    overflow: hidden;
}



header {
    position: absolute;
    top: 0;
    width: 100%;
    color: #333;
    padding: 30px;
    text-align: center;
    background-color: black;
    z-index: 1;

}

header a {
    text-decoration: none;
    color: #fff;
}

.homepage {
    position: absolute;
    top: 2%;
    right: 100px;
    color: whitesmoke;
}


p , ul {
    padding-bottom: 0px;
}

li {
    font-size: 15px;
}

h3 ~ p {
    padding-bottom: 10px;
}


.image {
    width: 40%;
    float: right;
}

.ascii {
    width: 20%;
    margin-right: 20%;
    max-height: 125px;
}

.digitalSpring {
    width: 20%;
    max-height: 125px;
    margin-left: 20%;
}

.euroLink {
    width: 20%;
    margin-right: 20%;
    max-height: 125px;
}

.nimbyx {
    width: 20%;
    margin-left: 20%;
    max-height: 125px;
}

.myphoto {
    width: 20%;
    padding-right: 400px;
    padding-top: 100px;
}